<%= form_with(model: stat) do |form| %>
  <% if stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
        <% stat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :userId %>
    <%= form.number_field :userId %>
  </div>

  <div class="field">
    <%= form.label :nomsSent %>
    <%= form.number_field :nomsSent %>
  </div>

  <div class="field">
    <%= form.label :nomsReceived %>
    <%= form.number_field :nomsReceived %>
  </div>

  <div class="field">
    <%= form.label :mvpWins %>
    <%= form.number_field :mvpWins %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
