<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @stat.userId %>
</p>

<p>
  <strong>Nomssent:</strong>
  <%= @stat.nomsSent %>
</p>

<p>
  <strong>Nomsreceived:</strong>
  <%= @stat.nomsReceived %>
</p>

<p>
  <strong>Mvpwins:</strong>
  <%= @stat.mvpWins %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
